.nav-container {
    position: absolute;
    width: 96px;
    height: 1024px;
    left: 0px;
    top: 0px;

    background: #19151E;
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}



.nav-img {
    width: 980px;
    height: 65px;
    margin-left: 180px;
    margin-top: 30px;
}